<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Plan - Garage Sale Organizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Garage Sale Organizer</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning btn-block" href="{{ url_for('create') }}"> Host a Sale!</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white text-center py-5">
        <h1>Route Plans</h1>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main class="container mt-5">
    <section class="route-details-section">
        {% if dist_preferred_routes %}
            {% for route in dist_preferred_routes %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Suggested Route Option 1</h5>
                    <ol class="list-group">
                        {% for event in route %}
                                <li class="list-group-item">{{ event[0] }}</li>
                        {% endfor %}
                        <li class="list-group-item">
                            <a href="https://www.google.com/maps/dir/{% for event_name, coordinates in route %}{{ coordinates[1] }},{{ coordinates[0] }}/{% endfor %}" target="_blank" class="btn btn-primary btn-block">
                                Navigate Route
                            </a>
                        </li>
                    </ol>
                </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if dur_preferred_routes %}
            {% for route in dur_preferred_routes %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Suggested Route Option 2</h5>
                    <ol class="list-group">
                        {% for event in route %}
                                <li class="list-group-item">{{ event[0] }}</li>
                        {% endfor %}
                        <li class="list-group-item">
                            <a href="https://www.google.com/maps/dir/{% for event_name, coordinates in route %}{{ coordinates[1] }},{{ coordinates[0] }}/{% endfor %}" target="_blank" class="btn btn-primary btn-block">
                                Navigate Route
                            </a>
                        </li>
                    </ol>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
    </main>


     <footer class="bg-light mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Subscribe to Our Newsletter</h3>
                    <form method="POST" action="/subscribe">
                        <div class="input-group mb-3">
                            <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About Us</a></li>
                        <li><a href="{{ url_for('create') }}">Create Sale!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
